@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 60px;
    padding-left: 60px;
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 1.3rem;
    font-weight: 500;
}

header nav {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-flex;
    margin-left: 40px;
}

header nav ul li a {
    color: black;
    font-size: 1.3rem;
    font-weight: 400;
    transition: 300ms;
}

header nav ul li a:hover {
    color: #2474ED;
}

main {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 50px;

    display: inline-flex;
    align-items: center;
    width: 100%;
}

main .mainContent .aboutTitle {
    font-weight: 300;
}

main .mainContent .workTitle {
    font-size: 3rem;
}

main .mainContent .workTitle .backgroundMark {
    background-color: black;
    color: white;
}

main .mainContent .description {
    margin-top: 20px;

    color: #5C5C5C;
    font-size: 1.2rem;
}

main .mainContent a {
    text-decoration: none;
}

main .mainContent .contactButton {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.2rem;

    width: 160px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    transition: 300ms;
    margin-top: 30px;
}

main .mainContent .contactButton:hover {
    background-color: #2D273C;
    border: none;
    color: white;
}

/* profile card */

main .profileCardArea {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

main .profileCard {
    color: white;
    width: 400px;

    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;

    background-color: #2D273C;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgb(20, 20, 20);
}

main .profileCard .info {
    display: inline-flex;
}

main .profileCard .info .profileImage {
    height: 30px;
    width: 30px;
    background-color: rgb(180, 180, 180);
    border-radius: 100%;

    margin-right: 10px;
}

main .profileCard .info h3 {
    font-weight: 400;
}

main .profileCard .about {
    margin-top: 5px;
}

main .profileCard .languages {
    margin-top: 25px;

    width: 90px;
    display: inline-flex;
    justify-content: space-between;
}

/* projects section */

.projects {
    margin-top: 200px;
    margin-bottom: 200px;
    padding-left: 120px;
    padding-right: 120px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects .about .title {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 60px;
}

.projects .about .title span {
    color: #2474ED;
}

.projects .about .aboutText {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #656565;
    font-size: 1.2rem;
    max-width: 70%;
}

.projects .about .githubLink {
    color: #234DE2;
    font-weight: 500;
}

.projects .projectCards {
    padding-left: 10px;
    display: inline-flex;
}

.projects .projectCards a {
    text-decoration: none;
}

.projects .projectCards a:visited {
    color: unset;
}

.projects .projectCards .card {
    border: 1px solid #515151;
    border-radius: 10px;
    padding: 30px;
    width: 300px;

    transition: 500ms;
    margin: 10px;

    color: black;
}

.projects .projectCards .card h4 {
    font-weight: 400;
    font-size: .8rem;
    color: #656565;
    margin-bottom: -2px;
}

.projects .projectCards .card h2 {
    font-weight: 500;
}

.projects .projectCards .card p {
    font-size: 1rem;
    margin-top: 10px;
}

.projects .projectCards .card:hover {
    background-color: #2D273B;
    color: white;
    border: 1px solid #2D273B;
}